---
const response = await fetch(
  "https://api.themoviedb.org/3/movie/popular?api_key=fc42fe180e7e9152684e797af00148c6&language=en-US"
);

const data = await response.json();
const detail = "/detail/";
const poster_url = "https://image.tmdb.org/t/p/w400";
---

<div class="row">
  {
    data.results.map((item) => (
      <div class="col-lg-3 mt-4">
        <div class="card mr-4" style="width: 18rem;">
          <a href={detail + item.id}>
            <img src={poster_url + item.poster_path} alt="poster" class="card-img-top" />
          </a>
          <div class="card-body">
            <h6 class="card-title">{item.title}</h6>
          </div>
        </div>
      </div>
    ))
  }
</div>
